.panel {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 30rem;
  min-height: 15rem;
}

.form {
    display: grid;
}

.field {
    display: flex;
    gap: 1rem;
}

.field--full {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.input {
    border: 0.1em solid;
    border-radius: 0.2rem;
    flex: 1;

}

.label {
   
}

.label--full {

}